@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Marck+Script&subset=cyrillic,latin-ext');

body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #d4d4d4;

  #root {
    .main_container {
      width: 94vw;
      height: 100vh;
      margin: 30px auto;
      background-color: rgba(121, 255, 172, 0.43);
      .toDo_container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .toDo {
          background-color: #fff;

          width: 390px;
          margin: 50px 0 50px 0;
          display: flex;
          h1 {
            margin: 0;
            padding: 0 10px 0 10px;
            display: inline-block;
            line-height: 41pt;
            color: rgb(68, 68, 68);
            border: 1px solid rgba(156, 112, 112, 0.68);
            border-radius: 2px;
            background: rgba(91, 118, 218, 0.25);
          }
          .add_taskList {
            color: rgb(68, 68, 68);
            flex-grow: 1;
            font-size: 35pt;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, .1);
            border-radius: 2px;
            background: rgb(245, 245, 245) linear-gradient(#dcdcdc, #efeaea);
            transition: all .218s ease 0s;
            &:hover {
              color: rgb(24, 24, 24);
              border: 1px solid rgb(198, 198, 198);
              background: #f7f7f7 linear-gradient(#c5c5c5, #fbefef);
              box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
              cursor: pointer;
            }
            &:active {
              color: rgb(51, 51, 51);
              border: 1px solid rgb(204, 204, 204);
              background: rgb(238, 238, 238) linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
              box-shadow: -3px 3px 13px rgba(0, 0, 0, 0.1) inset;
            }
          }
        }
        .task_container {
          width: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;

          .Entr_new_task_container {
            width: 470px;
            margin: 20px 5px 20px 5px;
            button[type=submit]:hover {
              cursor: pointer;
            }
            .tasks_block {

              .add_task {
                margin: 10px 0 20px 0;
                form {
                  display: flex;
                  input {
                    flex-grow: 1;
                    font-size: 15pt;
                    text-indent: 10pt;
                    font-style: italic;
                    &::-webkit-input-placeholder {
                      color: #ff0705;
                      text-align: center;
                    }
                  }
                  .del_btn{
                    width: calc(16px + 22.25px);
                    vertical-align: middle;
                    line-height:27px;
                    border-radius: inherit;
                    .delete_button;
                  }

                }
              }

              .someTask {
                display: none;
                margin: 5px;
                padding: 15px 5px 15px 22px;
                border: 1px solid #fbfbd3;
                background-color: lightgoldenrodyellow;
                border-radius: 8px;
                box-shadow: -8px 6px 11px 1px rgba(0, 0, 0, .1);

                ul {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                  li {
                    margin: 0 0 10px 0;
                    form {
                      display: flex;
                      align-items: center;
                      input {
                        margin-right: 24px;
                        border: none;
                        border-radius: 25px;
                        flex-grow: 1;
                        font-size: 18pt;
                        text-indent: 10pt;
                        font-family: 'Marck Script', cursive;
                        overflow: auto;
                        text-overflow: ellipsis;
                        background-color: wheat;
                        box-shadow: inset -5px 2px 18px 2px rgba(0, 0, 0, 0.1);

                        &:hover {
                          cursor: pointer;
                          transform: scale(1.12, 1.12);

                        }
                        &:focus {
                          cursor: text;
                          outline: none;
                        }
                      }
                      .forPseudoElement{
                        position: relative;
                        .delete{
                          position: absolute;
                          width: 18px;
                          height: 18px;
                          left: -24px;
                          top: -3.5px;
                          border-radius: 6px;
                          .delete_button;
                        }
                        .done {
                        box-sizing: inherit;
                        width: 40px;
                        height: 40px;
                        padding: 0;
                        border-radius: 15px;
                        & {
                          vertical-align: middle;
                          text-align: center;
                          line-height: 2.4em;
                          user-select: none;
                          color: #ffffff;
                          outline: none;
                          border: 1px solid rgba(110, 121, 128, .8);
                          border-top-color: rgba(0, 0, 0, .3);
                          background: rgb(206, 220, 231) linear-gradient(rgb(206, 220, 231), rgb(89, 106, 114));
                          box-shadow: 0 -1px rgba(10, 21, 28, .9) inset,0 1px rgba(255, 255, 255, .5) inset;
                        }
                        &:hover {
                          background: linear-gradient(#d2dfea, #71828c);
                        }
                        &:active {
                          line-height: 2.6em;
                          background: linear-gradient(#bac6cf, #c5d3de 20%, #71828c);
                          box-shadow: 0 -1px rgba(255,255,255,.4) inset;
                          color: #000000;
                        }
                        &:focus {
                          outline: none;
                        }
                      }}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.delete_button{
  display: inline-block;
  text-align: center;
  border: 1px solid #f95a5a;
  color: #fff;
  background: rgb(243, 60, 59) linear-gradient(rgb(236, 124, 124), rgb(210, 98, 98));
  &:hover{
    background: linear-gradient(#e8aeae, #a22d2d);
    cursor:pointer;
  }
  &:active{
    background: linear-gradient(#ef6c6c, #e22929 20%, #a00c0c);
    box-shadow: 0 -1px rgba(255,255,255,.4) inset;
  }
}
.done_toggle{
  text-decoration: line-through;
}